[submodule "tests/thirdparty/pugixml"]
	path = tests/thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "tests/thirdparty/catch"]
	path = tests/thirdparty/catch
	url = https://github.com/philsquared/Catch.git
